// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidemenu{
  height: 100vh;
  width: 300px;
  float: left;
  color: #FFFFFF;
  &__profile{
    height: 15%;
    width: 100%;
    background-color: #253141;
    position: relative;
    &__content{
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;
      &__name{
        font-weight: bold;
        margin: 0 20px;
        position: relative;
        display: inline-block;
      }
      &__new-chat{
        margin-left: 90px;
        position: relative;
        display: inline-block;
      }
      &__settings{
        position: relative;
        display: inline-block;
      }
    }
  }

  &__chatroom-list{
    background-color: #2f3e51;
    height: 85%;
    &__each{
      padding: 20px;
      &__title{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__recent-message{
        font-size: 11px;
      }
    }
  }
}





.chatspace{
  float: left;
  height: 100vh;
  width: calc(100vw - 300px);
  &__top{
    height: 15%;
    border: 1px solid #eee;
    &__information{
      margin: 0 40px;
      &__title{
        color: #333;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }
      &__edit{
        color: #38AEF0;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid #38AEF0;
        float: right;
      }
    }
    &__member{
      color: #999;
      font-size: 12px;
      margin: 0 40px;
    }
  }


  &__main{
    background-color: #AAAAAA;
    height: calc( 100vh - 15% - 90px);
    overflow: auto;
    &__chat-list{
      padding-top: 46px;
      padding-left: 40px;
     &__each{
       &__sender{
          font-size: 16px;
          font-weight: bold;
         color: #434A54;
          padding-right: 10px;
          float: left;
        }
        &__date{
         font-size: 12px;
         color: #999999;
         float: left;
       }
        &__message{
         padding-top: 10px;
          padding-bottom: 40px;
         font-size: 14px;
          color: #434A54;
          clear: both;
        }
      }
    }
  }



  &__message-sender{
    height: 90px;
    &__contents{
      height: 100%;
      padding: 0px 40px;
      &__box{
        width: calc( 100% - 200px );
        height: 50px;
        margin: 20px 0;
        padding: 0 10px;
        font-size: 16px;
        color: #434A54;
      }
      &__button{
        color: #fff;
        background-color: #38AEF0;
        float: right;
        height: 50px;
        width: 100px;
        margin: 20px 0;
      }
    }
  }
}

.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

.hidden{
  display: none;
}
